@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@font-face {font-family: 'HelveticaLT';src: url('webfonts/3088D5_0_0.eot');src: url('webfonts/3088D5_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3088D5_0_0.woff2') format('woff2'),url('webfonts/3088D5_0_0.woff') format('woff'),url('webfonts/3088D5_0_0.ttf') format('truetype');}
@-moz-document url-prefix() {

    p{font-family: "HelveticaLT"} }

}

html {
  background-color: white;
  -webkit-font-smoothing: antialiased;
transition: .5s;
}

li::selection  { background: rgba(0, 0, 0, 0);; }
li::-moz-selection { background: rgba(0, 0, 0, 0);; }

p:focus {
    outline:none;
}

a {
    color: blue; text-decoration: none;
}

.strike {
  text-decoration: line-through;
}

a:hover {
    color: blue; text-decoration: none; border-bottom: 1px solid blue;
}

.notice {
  font-size: .5em;
}

.autoswitch {
  animation-name: switch;
  animation-duration: .7s;
  animation-iteration-count: infinite;
}

@keyframes switch {
    0%   {font-family: Helvetica, "HelveticaLT";}
    50%  {font-family: Arial;}
    100%  {font-family: Helvetica, "HelveticaLT";}
  }

  @keyframes info {
      0%   {opacity: 0;}
      100%  {opacity: 1;}
    }

    @keyframes strobe {
        0%   {  background-color: black;
          color: white;}
        50%  {  background-color: white;
          color: black;}
          100%  {  background-color: black;
            color: white;}
      }

      .strobe {
        animation-name: strobe;
        animation-duration: .1s;
        animation-iteration-count: infinite;
      }

#about {
  font-family: "Open Sans", sans-serif;;
  width: 300px;
  display: none;
  border: 1px solid blue;
  position: fixed;
  top: 50px;
  left: 580px;
  padding: 20px;
  background-color: white;
  color: black;
  box-shadow: -9px 9px 0px -4px rgba(0, 0, 0, 0.39);
  animation-name: info;
  animation-duration: .2s;
}

span {
  font-size: 12px;
  font-weight: normal;
}

.ulist a {
  color: inherit;
}

.ulist {
  position: absolute;
  width: 700px;
  display: block;
  top: 0;
  left: 0;
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  transition: left .1s;
}

.ulist > li:nth-child(7) {
  display: none;
}

.hideaway > li:nth-child(7) {
  display: block;
}

#autoswitch, #switch, #invert, #hide, #info, #show {
    cursor: pointer;
}

.hideaway {
  left: -655px;
}

.invert {
  background-color: black;
  color: white;
}

.letters {
  font-family: Helvetica, "HelveticaLT";
  font-weight: normal;
  font-size: 100px;
  margin: auto;
  width: 75%;
}

.arial {
  font-family: Arial;
}

p {
  margin-top: 70px;
}

.pstrobe {
  margin-top: 70px;
  transition: 0s;
}

.small {
  font-size: 16px;
}

.huge {
  font-size: 240px;
}

.large {
  font-size: 160px;
}

.normal {
  font-size: 100px;
}

@media all and (max-width:900px) {
