@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

html {
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

li::selection  { background: rgba(0, 0, 0, 0);; }
li::-moz-selection { background: rgba(0, 0, 0, 0);; }

.editable:focus {
    outline:none;
}

a {
    color: red; text-decoration: none;
}

a:hover {
    color: red; text-decoration: none; border-bottom: 1px solid red;
}

.notice {
  font-size: .5em;
}

.autoswitch {
  animation-name: switch;
  animation-duration: .7s;
  animation-iteration-count: infinite;
}

@keyframes switch {
    0%   {font-family: Helvetica;}
    50%  {font-family: Arial;}
    100%  {font-family: Helvetica;}
  }

#about {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 2em;
  margin: auto;
  width: 75%;
  display: none;
  border-bottom: 1px solid red;
}

.ulist {
  position: fixed;
  width: 700px;
  display: block;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 13px;
  cursor: crosshair;
  transition: left .1s;
}

.hideaway {
  left: -650px;
}

.invert {
  background-color: black;
  color: white;
}

.letters {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 10em;
  margin: auto;
  width: 75%;
}

.arial {
  font-family: Arial;
}

p {
  margin-top: 70px;
  transition: .5s;
}

.fontplus {
  font-size: 2em;
}

@media all and (max-width:900px) {
